body {
	background-color: pink;
	display: flex;
	flex-direction: column;
	/*align-items: flex-start;*/
	height: 100vh;
	margin: 0;
}



header {
	padding: 5px;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	flex-grow: 1;
	background-color: blue;
	position: relative;
	border-radius: 35px;
	margin: 10px;
}



footer {
	display: flex;
	width: 100%;
}

#timer {
	font-size: 30px;
	float: left;
}

#name {
	font-size: 30px;
	text-align: right;
}

#screen {
	height: 90%;
	width: 90%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	border-radius: 35px;
}

#screen1 {
	background-color: green;
	width: 33.333333%;
	border-radius: 35px 0 0 0;
	height: 50%;
}

#screen2 {
	background-color: purple;
	width: 33.333333%;
	height: 50%;
}

#screen3 {
	background-color: white;
	width: 33.333333%;
	border-radius: 0 35px 0 0;
	height: 50%;
}

#screen4 {
	background-color: purple;
	width: 33.333333%;
	border-radius: 0 0 0 35px;
	height: 50%;
}

#screen5 {
	background-color: white;
	width: 33.333333%;
	height: 50%;
}

#screen6 {
	background-color: green;
	width: 33.333333%;
	border-radius: 0 0 35px 0;
	height: 50%;
}

#buttons {
	display: flex;
	width: 100vw;
	justify-content: space-around;
}

#buttons > div > button {
	height: 30px;
	width: 120px;
	font-size: 13px;
	border-radius: 15px;
}

#stats {
	align-self: flex-end;
	width: 100%;
	padding: 1%;
	text-align: center;
	font-size: 30px;
}

img:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

img {
	height: 75%;
	width: 75%;
}